@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --leva-sizes-rootWidth: 340px;
}

#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  background-color: #D9F2FC;
  background-image: url('/fondo.png'); /* Ruta basada en public */
  background-size: cover; /* Ajusta para que cubra toda la pantalla */
  background-repeat: no-repeat; /* Evita que se repita */
  background-position: center; /* Centra la imagen */
}

body.greenScreen {
  background-color: #00ff00;
  background-image: none;
}
